body {
	background: #181e34;
	/* font-size: 16px; */
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 400;
	line-height: 150%;
	color: #fff;
}

.container {
	max-width: 930px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

/* ========================= */

.header {
	padding: 30px 0 36px;
}

.header-inner {
	display: flex;
	align-items: center;
}

.header-nav {
	margin-left: auto;
}

.header-list {
	display: flex;
}

.header-item {
	margin-right: 30px;
}

.header-button {
	border-radius: 100px;
	background: #fff;
	color: #2766ae;
	font-weight: 500;
	padding: 14px 30px;
}

/* =============================================== */

.hero {
	background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
	padding: 120px 0;
}

.hero-title {
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	padding-bottom: 60px;
	text-align: center;
}

.hero-inner {
	display: flex;
	justify-content: space-between;
}

.hero-text {
	max-width: 436px;
}

p {
	padding-bottom: 15px;
}

p:last-child {
	padding-bottom: 0;
}

.hero-text span {
	font-weight: 700;
	text-transform: uppercase;
	color: #01a2cb;
}

.hero-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 320px;
	width: 100%;
}

.hero-button-one,
.hero-button-two {
	display: flex;
	justify-content: center;
	border-radius: 100px;
	padding: 18px 30px;
}

.hero-button-one img,
.hero-button-two img {
	margin-left: 4px;
}

.hero-button-one {
	background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
}

.hero-button-two {
	background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

/* ===================================================== */

.cards {
	padding: 120px 0;
}

.cards-title {
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	padding-bottom: 15px;
	text-align: center;
}

.cards-text {
	max-width: 513px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 60px;
}

.cards-flex {
	display: flex;
	gap: 28px;
	/* max-height: 310px; */
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.cards-flex-item {
	/* display: flex;
  flex-direction: column; */
	max-width: 204px;
	border: 2px solid #176bae;
	border-radius: 16px;
	padding: 28px;
	box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
	background: #197cb8;
	/* align-items: center; */
}

.cards-flex-title {
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	/* padding: 10px; */
	margin-bottom: 10px;
}

.cards-flex-text {
	max-width: 144px;
	text-align: center;
}

.cards-button {
	display: block;
	text-align: center;
	background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
	border-radius: 100px;
	padding: 18px 30px;
	max-width: 436px;
	margin: 0 auto;
}

/* =========================================================== */

.footer {
	border-top: 1px solid #323952;
	padding: 60px 0;
}

.footer-inner {
	display: flex;
}

.footer-descr {
  max-width: 267px;
	margin-right: auto;
}

.footer-descr a {
  display: inline-block;
	margin-bottom: 15px;
}

.footer-title {
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 10px;
  line-height: 150%;
}

.footer-item:last-child {
  margin-bottom: 0;
} 

.footer-col {
  max-width: 202px;
  width: 100%;
}

.footer-col-one {
  margin-right: 33px;
}
